/*  */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap'); */
/* root */
:root{
    --blkcol: #000000;
    --ylbtn:#FFC218;
    --blutxt:#213053;
    --grytxt:#8B96AE;
    --smustard:#FFF4D6;
    --syltxt:#FFBB00;
    --sviolt:#E5E9FC;
    --sblutxt:#002AF1;
    --sorange:#FFF3EB;
    --sorangetxt: #FE7B23;
    --sgreen: #EBFFF5;
    --sgreentxt: #08C165;
    --grytxt2:#1D263A;
    --yltxt: #FFC72B;
    --whitecol:#FFFFFF;
    --bkcol: #04457B05;
    --testdet:rgba(214, 235, 228, 0.3);
    --rentbk:#FAFBFC;

}
*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* font */
@font-face {
    font-family: 'Gilroy';
      src: url('/font/Gilroy-ExtraBold.eot'); /* IE9 Compat Modes */
      src: url('/font/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('/font/Gilroy-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
          url('/font/Gilroy-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
          url('/font/Gilroy-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('/font/Gilroy-ExtraBold.svg#svgFontName') format('svg'); /* Legacy iOS */
          font-weight: bolder;
          font-style: normal;
        /* font-display: swap; */

  }

  body{
    font-family: Gilroy, Helvetica, questrial;
}
/*  */
a {
    text-decoration: none!important;
}
h1, h2, h3, h4, h6{
    color: var(--blutxt);
    /* font-family: Gilroy; */
}


/* nav starts */

header{
    font-family: questrial;
    letter-spacing: 1px;
    font-weight: 500;
}
.logos{
    width: 6rem;
}
.ulnav li {
    padding: 0 1rem;
}
.ct{
    margin-right: 4rem!important;
}
.ulnav li a{
    color: var(--blkcol)!important;
    font-weight: bold;
    font-size: 14px;
}
.sign{
    background-color: var(--ylbtn);
    width: 6rem;
    text-align: center;
}
/* nav ends */
/* banner starts */
.banner{
    background: url(/img/Rectangle\ 1.png);
    background-position: right;
    background-size: 72%;
    background-repeat: no-repeat;
    padding-bottom: 5rem;
    margin-top: -20px;

}
.ban1{
    /* padding: 5rem 0; */
    min-height: 80vh;
    position: relative;
}
.txt{
    max-width: 600px;
    width: 85%;
    z-index: 2;
    color: var(--blutxt);
}
.wd{
    width: 90%;
}
.ft h1{
    font-size: 59px;
    font-weight: 600;
    font-family: Gilroy;
    color: var(--blkcol);
    /* padding-bottom: 5px; */

}
.txt h6{
    font-family: Questrial;
    letter-spacing: 0.8px;
    font-weight: 600;
    line-height: 30px;
    font-size: 15px;
}

.ban-img{
    position: absolute;
    width: 40%;
    top: 17%;
    right: 3%;
}
.btns img{
    width: 10rem;
    padding-right: 15px;
}
/* banner ends */
/* service starts */
.service{
    padding: 5rem 0;
}
.txt h2{
    font-family: Gilroy;
    font-weight: bolder;
    font-size: 34px;
}
.txt h5{
    color: var(--grytxt);
    font-family: questrial;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 35px;
    font-size: 19px;
}
.gn p{
    font-size: 18px;
}
.gn{
    font-weight: 900;
    font-family: Gilroy;
}

.gn img{
    width: 50%;
    padding-bottom: 1rem;
    height: 60%;
}
.must{
    background-color: var(--smustard);
}
.vio{
    background-color: var(--sviolt);
}
.pnk{
    background-color: var(--sorange);
}
.grn{
    background-color: var(--sgreen);
}
.must small{
    color: var(--syltxt);
}
.pnk small{
    color: var(--sorangetxt);
}
.grn small{
    color: var(--sgreentxt);
}

/* service ends */
/* service2 */
.service2{
    background-color: var(--bkcol);
    padding: 3rem 0 3rem 0;
}
.ft2{
    padding-right: 10px;
    padding-top: 3rem;
}
.ft2 h1{
    font-size: 35px;
    font-family: Gilroy;
    /* line-height: 20px; */
    /* font-weight: 100; */
}
.flxs img{
    width: 14%;
    margin-right: 20px;
}
.imga{
width: 45%;
margin-right: 20px;
/* margin-top: -20px; */
}
.imgb{
    width: 50%;
    margin-left: -10px;
}
.imga img{
    width: 100%;
}
.imgb img{
    width: 85%;
    margin-bottom: 20px;
}
/* service2 ends */
/* values */
.value{
    padding: 5rem 0 3rem 0;
}
.ft3 h3{
    font-family: Gilroy;
}
.ft3 h5{
    font-size: 17px;
}
.flxn img{
    width: 16%;
    margin-right: 18px;
}
.txts{
    max-width: 250px;
    width: 90%;
}
.txts b{
    font-family:Gilroy ;
    font-weight: 700;
    font-size: 18px;
}
.txts small{
    font-family: Questrial;
    letter-spacing: 1px;
    font-size: 12px;
    color: var(--grytxt2);
   
}
.rz{
    padding-bottom: 2rem;
}
/* values ends */
/* brand */
.brnd{
    padding: 2rem 0;
}
.brnd img{
margin: 0 10px;
}
.im{
    width: 13%;
}
.ima{
    width: 9%;
}
.imb{
    width: 20%;
}
.fta h1{
    font-size: 30px;
    font-family: Gilroy;
    
}
/* brand */
/* rental */
/* .rental{
    background-image: url(/img/Rectangle\ 6.png);
    background-position: bottom;
    background-size: 80%;
    background-repeat: no-repeat;
} */
.blubg{
    background-color: var(--blutxt);
    /* padding: 0 9rem; */
}
.rw{
    width: 100%;
    max-height: 90vh;
}
.imgr{
    width: 100%;
}
.pts h3{
    font-family: Gilroy;
    font-size: 40px;
    font-weight: bolder;
}
.pts{
    width: 85%;
    padding-left: 2rem;
    font-family: questrial;
    letter-spacing: 1px;
    margin: auto;

}

.touch{
    background-color: var(--ylbtn);
    font-family: questrial;
    letter-spacing: 1px;
    font-weight: 800;
    outline: none;
    border: none;
    padding: 0.8rem 2.2rem;
    font-size: 18px;
    border-radius: 8px;
    /* width: 30%; */
}
/* rental ends */
/* testimonial */
.clients{
    padding: 2rem 0 4rem 0;
}
.text-header h2 {
    font-size: 35px;
    color: var(--blutxt);
    font-family: Gilroy;
    max-width: 50%;
    text-align: center;
    font-weight: 700;
  }
  
  .text-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
  }
  
  .text-content {
    /* display: flex; */
    padding-top: 30px;
    /* width: 90%; */
    /* align-items: center; */
    margin: auto;
  }
  
  .tt h3 {
    font-family: questrial;
    font-size: 16px;
    color: var(--grytxt2);
    line-height: 25px;
    font-weight: 600;
    letter-spacing: 1.5px;
    height: 150px;

  }
  
  .tt {
    border: 1px solid rgba(223, 223, 223, 0.7);
    padding: 30px 20px;
    margin: 6px 10px;
    border-radius: 12px;
    max-width: 400px;
    width: 90%;
  }
 
  
  .testimonials-details {
    background: var(--testdet);
    padding: 15px 30px;
    /* max-width: 280px;
    width: 100%; */
    margin-top: 30px;
    border-radius: 12px;

  }
  
  .testimonials-details h2 {
    font-size: 18px;
    font-family: Gilroy;
    color: var(--grytxt2);
  }
  
  .testimonials-details p {
    font-family: questrial;
    font-size: 17px;
    color: var(--blutxt);
    margin-bottom: 0px;
  }
/*  */
/* contact */
.mm{
    padding: 0 2.5rem;
    font-family: Questrial;
}
.mm p{
    line-height: 0;
    font-size: 20px;
}
.mm h5{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.tc{
    color: var(--yltxt);
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 1.5px;
    font-family: Questrial;
}

.mma{
    padding: 0 0.8rem;
    font-size: 16px;
    font-family: questrial;
    font-weight: 600;
}
.mma a{
    color: var(--blkcol);
}
.mma img{
    padding-right: 2rem;
    width: 95%;
}
footer{
    padding-bottom: 1rem ;
}
/* media query for responsiveness */
@media screen and (max-width:1030px) {
    .ban1{
        min-height: 40vh;
        padding: 3rem 1rem;
    }
    .ban-img{
        top: 18%;
        height: unset;
        width: 40%;
    }
   .ft{
       width: 25rem;
   }
   .ft2{
       width: 100%;
   }
    .ft h1{
        font-size: 45px;
    }
    .gn p{
        height: 100px;
    }
    
    .gn img{
        width: 50%;
        padding-bottom: 1rem;
        height: auto;
    }
    .pts{
         width: 100%;
        padding:30px 10px;
    }
    .pts h3{
        font-size: 20px;
    }
    .mm{
        padding: 0 1rem;
    }
    .mm p{
        font-size: 16px;
    }
    .mm h5{
        font-size: 18px;
    }
    .tc{
        font-size: 22px;
    }
    .text-content{
    width: 100%;

    }
    .text-header h2{
        max-width: 80%;
        font-size: 25px;
    }
    .tt h3{
        height: 200px;
    }
}
@media screen and (min-width:768px) and (max-width:1010px) {
    .tt h3{
        height: 320px;
    }
}
@media screen and (max-width:738px){
.ban1{
    min-height: 100vh;
    flex-direction: column;
    padding: 32px 16px;

}
.ban-img{
    /* display: none; */
    position: relative;
    width: 90%;
    margin: 0 auto;
}
.ft h1{
    padding: 1rem 0;
    font-size: 30px;
}


.txt h6{
    padding-bottom: 1rem;
    font-size: 15px;
}
.service{
    padding: 1rem 0;
}
.service2, .value{
    padding-left: 20px ;
}
.txt{
    padding-top: 2rem;
    width: 100%;
}
.im,  .ima{
    width: 14%;
}
.imb{
    width: 16%;
}
.rz{
    padding: 0;
}
.pd{
    padding-bottom: 15px;
}
.brnd{
    padding: 0;
}
.brnd img{
    margin: 0 10px 0 0;
}
.fta h1{
    font-size: 20px;
}
.gn p{
    width: 75%;
    margin: 0 auto;
    /* font-size: 15px; */
}
.gn{
    margin: 20px 0;
    /* width: 70%!important; */
}

.gn img{
    width: 20%;
}
.text-content{
    flex-wrap: wrap;
}
.mm{
    padding: 1rem;
}
.mmi{
    order: 3;
    padding-top: 1rem;
}
footer{
    padding-bottom: 0;
}
.txts{
    max-width: 300%;
}
.imgb{
  margin-left: -20px;
}
.tt h3{
    height: 150px;
}
.text-header{
    font-size: 14px;
}
.tt{
    /* max-width: 100px; */
    width: 100%;
}
}